<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<%= @cocktail.name %>
<%= link_to "back", cocktails_path %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% @cocktail.doses.each do |dose| %>
<ul class="list-inline">
  <li>
    <%= dose.description %>
  </li>
  <li>
    <%= dose.ingredient.name %>
  </li>
  <li>
    <%= link_to "delete", delete_dose_path(dose), method: :delete, data: {confirm: "Are you sure you want to delete this dose?"} %>
  </li>
</ul>
<% end %>
<%= link_to "add a dose", new_cocktail_dose_path(@cocktail)  %>
